<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_BLUETOOTH" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can strongly assert that your app
         doesn't derive physical location. -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="true" />
    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
        android:theme="@style/AppTheme"
            tools:targetApi="31">
            <activity
                android:name=".MainActivity"
                android:exported="true"
                >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
<!--        <activity-->
<!--                android:name=".bluetoothpccontrol.MainActivity"-->
<!--                android:exported="true"-->
<!--                android:label="@string/app_name"-->
<!--                android:resizeableActivity="true"-->
<!--                tools:targetApi="24">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->

<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->


        <!--                android:theme="@style/Theme.MobileKeybroad.NoActionBar"-->
<!--        <activity-->
<!--        android:name=".bluetoothpccontrol.DeviceListActivity"-->
<!--        android:configChanges="orientation|keyboardHidden"-->
<!--        android:label="@string/select_device"-->
<!--        android:theme="@android:style/Theme.DeviceDefault.Dialog" />-->

        <activity android:name=".KeyboardActivity"
        android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi">
            <!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"-->
        <!-- ... 其他配置 ... -->
    </activity> <service android:name="com.jollitycn.mobilekeybroad.bluetooth.BluetoothConnectService"
        android:enabled="true"/>
        <service android:name="com.jollitycn.mobilekeybroad.bluetooth.BluetoothHidMouseService"
            android:enabled="true"/>
    </application>

</manifest>